input[type=text]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=date]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
div{
    text-align:center;
    width: 150px;
    padding:3%;
    border:thin solid black;
}

input[type="file"]{
    display: none;
}

label{
    cursor:pointer;
}

#imageName{
    color:green;
}
